.long-box{
    margin-top: 5px;
    width: 100%;
    height: 30px;
    background-color: rgb(255, 8, 0);
}

.container{
    /*height: 300px;
    width: 100%;
    position: relative;*/ /*marking the headline as a reference point*/
    display:flex;
    gap: 10px; /*defining space between items*/
    flex-direction: column;/*stacking items in the container vertically*/
    align-items: center;
    text-align: center;
}

.small-box{
    width: 450px;
    height: 5px;
    background-color: rgb(255, 8, 0);
}
.who_am_i{
    font-family: Tahoma;
    font-size: 30px;
    font-weight:500;

    color: rgb(4, 112, 112);
}
#role{
    font-weight: 900;
    display: block; /*to have this new item on a new line*/
}

.about-me{
    width: 50%;
    font-family:Tahoma;
    color: rgb(127, 127, 128);
    font-size: 14px;;
    border-radius: 8px;
    line-height: 24px;
}

#buttons_grouped{
    display: flex; /*row arrangement of 2 buttons*/
    gap: 10px; /*button space from each other*/
    flex-wrap: wrap;
    margin-top: 0px;

}
.my_resume_button, .contact_me_button{
    padding: 10px 30px;
    box-shadow: 0px 2px 4px 0px rgb(0, 0, 0, 0.2); /*styling with the box shadow method*/
    border: none;
    border-radius: 2px;
    background-color: rgb(4, 112, 112); 
    color:rgb(255, 255, 255);
    font-family: Tahoma;
    cursor: pointer;
    
}

#navigation_bar{
    margin-top: 20px;
    text-align: center;
}
ul{
    display: inline-block; /*to arrange items in row*/
    gap: 10px;
    font-family: Tahoma;
    font-size: 13px;
    color: rgb(4, 112, 112);
    list-style-type: none;/*to remove the default bullets of lists*/
}
li{
    float: right; /*to align items to left, in a row*/
    display: block;
    padding: 10px 10px;
    cursor: pointer;
}
li:hover{
    background-color: rgb(4, 112, 112);
    transition-duration: 0.3s;
    color:aliceblue;
}

.info-on-me{
    /*height: 300px;
    width: 100%;
    position: relative;*/ /*marking the headline as a reference point*/
    display: inline-block;
    top: 20px;
    gap: 30px; /*defining space between items*/
    flex-direction: row;/*stacking items in the container vertically*/
    align-items: center;
    margin-left: 30px;
}
.about-me-2{
    margin-left: 80px;
    font-family:Tahoma;
    color: rgb(127, 127, 128);
    font-size: 13px;;
    border-radius: 8px;
    line-height: 24px;
    width: 25%;
    display: inline-block;
}
.recent-projects{
    margin-left: 80px;
    font-family:Tahoma;
    color: rgb(127, 127, 128);
    font-size: 13px;;
    border-radius: 8px;
    line-height: 24px;
    width: 25%;
    display: inline-block;
}
.get-in-touch{
    margin-left: 80px;
    font-family:Tahoma;
    color: rgb(127, 127, 128);
    font-size: 13px;;
    border-radius: 8px;
    line-height: 24px;
    width: 25%;
    display: inline-block;
}
.a{
    font-weight: 900;
    color:  rgb(4, 112, 112);
    font-size:15px;
}






/*first size*/
@media(max-width: 900px){

    .who_am_i{
        font-size: 36px;
    }

}
/*second size*/
@media(max-width: 600px){

    .who_am_i{
        font-size: 22px;
        text-align: center;
        color:rgb(4, 155, 155);
    }
    #buttons_grouped{
        flex-direction: column; /*the buttons should move above the other when responding to size*/
        align-items: center;
    }
    #navigation_bar{
        text-align: center;
    }
    .about-me{
        align-items: center;
        font-size: 75%;
        line-height: 20px;
        text-align: center;
        width: 100%;
    }
    .small-box{
    width: 250px;
    height: 3px;
    background-color: rgb(190, 10, 4);
    }
    .long-box{
        background-color: rgb(190, 10, 4);
    }



}