/*FIRST PAGE*/


.container{
    /*height: 300px;
    width: 100%;
    position: relative;*/ /*marking the headline as a reference point*/
    display:flex;
    gap: 5px; /*defining space between items*/
    flex-direction: column;/*stacking items in the container vertically*/
    align-items: center;
    text-align: center;
    background-color: rgba(243, 235, 253, 0.3);
    border-top: 8px;
}

.my-profile-img{
    width: 250px; /*defining dimensions of picture*/
    height: 250px;
    margin-top: 15px;
    object-fit: cover; /*smooth and balanced picture cropping*/
    border-radius: 50%; /*for circular image shape*/
    border: 6px double #52357B; /*border styles: double(for 2 solid lines), solid, dashed, dotted*/

}

/* Defining the icons for social media */

.icon-items{
    display: inline-block; /*to arrange items in row*/
    gap: 20px;
    cursor: pointer;
}

.github{
    background-image: url("images/icons/github.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    width: 30px; /*defining dimensions of picture*/
    height: 30px;
    border-radius: 50%;
    border: 2px double #5459AC;
    cursor: pointer;
}
.linkedin{
    background-image: url("images/icons/linkedin.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    width: 30px; /*defining dimensions of picture*/
    height: 30px;
    border-radius: 50%;
    border: 2px double #5459AC;
    cursor: pointer;
}
.fb{
    background-image: url("images/icons/facebook.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    width: 30px; /*defining dimensions of picture*/
    height: 30px;
    border-radius: 50%;
    border: 2px double #5459AC;
    cursor: pointer;
}
.twitter{
    background-image: url("images/icons/twitter.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    width: 30px; /*defining dimensions of picture*/
    height: 30px;
    border-radius: 50%;
    border: 2px double #5459AC;
    cursor: pointer;
}
.ig{
    background-image: url("images/icons/instagram.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    width: 30px; /*defining dimensions of picture*/
    height: 30px;
    border-radius: 50%;
    border: 2px double #5459AC;
    
}

.my-profile-img:hover {
    transform: scale(1.10); /* zoom by 20% on hover*/
}

.small-box{
    width: 450px;
    height: 1px;
    background-color: #5459AC;
}
.who_am_i{
    font-family: Tahoma;
    font-size: 30px;
    font-weight:500;

    color: #52357B;
}
#role{
    font-weight: 900;
    display: block; /*to have this new item on a new line*/
}

#buttons_grouped{
    display: flex; /*row arrangement of 2 buttons*/
    gap: 10px; /*button space from each other*/
    flex-wrap: wrap;
    margin-top: 0px;

}
.my_resume_button{
    padding: 9px 21px;
    box-shadow: 0px 3px 4px 0px rgb(0, 0, 0, 0.3); /*styling with the box shadow method*/
    border: none;
    border-radius: 3px;
    background-color: #5459AC;
    color:rgb(255, 255, 255);
    font-family: Tahoma;
    cursor: pointer;
    margin-bottom: 40px;
    
}
.contact_me_button{
    background-color: none;
    padding: 9px 21px;
    box-shadow: 0px 3px 4px 0px rgb(0, 0, 0, 0.3); /*styling with the box shadow method*/
    border: none;
    border-radius: 3px;
    color:#5459AC;
    font-family: Tahoma;
    cursor: pointer;
    margin-bottom: 40px;

}

#navigation_bar{
    margin-top:5px;
    text-align: center;
}
#nav_bar_items{
    display: inline-block; /*to arrange items in row*/
    gap: 10px;
    font-family: Tahoma;
    font-size: 13px;
    font-weight: bold;
    color: #52357B;
    list-style-type: none;/*to remove the default bullets of lists*/
}
li{
    float: right; /*to align items to left, in a row*/
    display: block;
    padding: 10px 10px;
    cursor: pointer;
}
li:hover{
    background-color: #52357B;
    transition-duration: 0.3s;
    color:aliceblue;
    border-radius: 7px;
    transform: translate(5px, 10px);
}



/*SECOND PAGE*/


.about-me-section{
 
    gap: 10px; /*defining space between items*/
    /*flex-direction: column;/*stacking items in the container vertically*/
    text-align: center;
    font-family: Tahoma;
    /* text-align: center; */
    background-color: #5459AC;
    border-radius: 8px;
}
.section-title{
    font-size: 30px;
    margin-top: 60px;
    padding-top: 20px;
    color: #ffffff;

}
.underline-1{
    width: 80px;
    height: 1px;
    background-color: rgb(255, 255, 255);
    margin:auto; /*provides equal margins on the left and right and centers item*/

}
.about-me-content{
    display: flex; /* activating flexbox for column layout*/
    align-items: flex-start; /* Aligns items to top */
    /*flex-wrap: wrap; /*Allows wrapping on smaller screens */
    gap: 3px; /* Adds gap*/
    text-align: left;
    flex: 1;
    flex-direction: row;
    margin-left: 200px;
    margin-right: 200px;
    line-height: 29px;
    color: rgb(255, 255, 255);
}
.underline-2{
    width: 60px;
    height: 1px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 30px;

}
.about-me-2{
    font-family:Tahoma;
    font-size: 15px;;
    width: 80%;
    border: #52357B;

}
.about-me-column2{
    margin-top: 150px;
    margin-bottom: 40px;
}
.about-me-tagline{
    margin-top: 50px;
    font-size: 20px;
}


.about-me-image-section{
    width: 250px; /*defining dimensions of picture*/
    height: 300px;
    margin-top: 180px;
    object-fit: cover; /*smooth and balanced picture cropping*/
    border-radius: 10px;
    box-shadow: 15px -15px 0px 0px rgba(255, 255, 255), 15px 15px 0px 0px rgba(255, 255, 255);  /*18px is horizontal offset moving shadow left-wise, -18px is vertical offset moving shadow upwards, 0px blur radius, 0px spread  radius*/

    border: 0px dashed #ffffff;; /*border styles: double(for 2 solid lines), solid, dashed, dotted*/
}
.about-me-column2>button{
    padding: 10px 30px;
    box-shadow: 0px 2px 4px 0px rgb(0, 0, 0, 0.2); /*styling with the box shadow method*/
    border: none;
    border-radius: 5px;
    background-color: #5459AC;
    color:rgb(255, 255, 255);
    font-family: Tahoma;
    cursor: pointer;
    margin-top: 30px;
}
.read-more:hover{
     background-color: #686dc9;
     transform: scale(1.03);
}

/* Footer-Get in touch */

.stay-in-touch{
    align-items: center;
    text-align: center;
    font-family: Tahoma;
    display:flex;
    flex-direction: column;
    
}
.stay-in-touch p{
    font-size: 30px;
    margin-top: 30px;
}
.stay-in-touch span{
    font-size: 15px;
}
.underline-3{
    width: 80px;
    height: 1px;
    background-color: #52357B;
    margin-bottom: 20px;
    margin:auto; /*provides equal margins on the left and right and centers item*/

}
.email-box{
    margin-top: 15px;
    width: 400px;
    height: 40px;
    background-color: #ffffff;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.enter-email{
    position: absolute;
    top: 12px;
    left: 16px;
    font-size: 12px;
    color:rgb(134, 133, 133);
}
.subscribe-box{
    width: 100px;
    height: 40px;
    background-color: #333435;
    position: absolute;
    border-radius: 5px;
    top: 0px;
    right: 0px;
}

.subscribe-box div{
    position: absolute;
    top: 12px;
    left: 20px;
    font-size: 12px;
    color:white;
}


 /* FOOTER CONTAINER */
.footer-container{
    margin-top: 50px;
    background-color: #5459AC;
    border-radius: 8px;
   

}
.get-in-touch{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 12px;
    color:white;
    font-family: Tahoma;
    text-align: center;
    line-height: 20px;
}
.underline-4{
    width: 100%;
    height: 0.5px;
    background-color: #ffffff;
    margin-bottom: 20px;
    margin:auto; /*provides equal margins on the left and right and centers item*/
}
.copyright{
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 12px;
    color:white;
    font-family: Tahoma;
    text-align: center;
    line-height: 20px;
}






/*RESPONSIVENESS STYLIING*/

@media(max-width: 600px){

    .who_am_i{
        font-size: 22px;
        text-align: center;
        color:rgb(4, 155, 155);
    }
    #buttons_grouped{
        flex-direction: column; /*the buttons should move above the other when responding to size*/
        align-items: center;
    }
    #navigation_bar{
        text-align: center;
    }
    .about-me{
        align-items: center;
        font-size: 75%;
        line-height: 20px;
        text-align: center;
        width: 100%;
    }
    .about-me-content{
        align-items: left;
        flex-wrap: wrap;
        flex-direction: column;
        width: 75%;
        
    }

}



/* 
---------------------------------------------------------------- */

/* RESUME STYLING */

/* Education */
.education{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: Tahoma;
    font-size: 15px;
    gap: 30px;
    background-color: hsla(237, 47%, 60%, 0.2);


}
.edu-title{
    padding-top: 60px;
    padding-bottom: 40px;
    font-size: 30px;
    color:#52357B;
    font-weight: 900;
}
.edu-columns{
    display: flex;
    flex-direction: row;
    gap: 20px; 
    justify-content:center;
    flex-wrap: wrap;
    align-items:center;
    text-align: center;
    margin-top: 60px;;

}
.edu-columns div{
    width: 250px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 8px;
    position: relative;
    margin-bottom: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.edu-column-1 p, .edu-column-2 p, .edu-column-3 p, .edu-column-4 p{
    color:#5459AC;
    top: 20px;
    font-size: 18px;
    position: absolute;
    font-weight: 900;
    padding-left: 20px;
    padding-right: 15px;
}
.edu-column-1 button, .edu-column-2 button, .edu-column-3 button, .edu-column-4 button{
    color:#5459AC;
    bottom: 10px;
    font-size: 10px;
    position: absolute;
    padding: 15px 80px;
    box-shadow: 0px 3px 4px 0px rgb(0, 0, 0, 0.3); /*styling with the box shadow method*/
    border: none;
    border-radius: 3px;
    right: 10px;
}
.edu-column-1>p>span, .edu-column-2>p>span, .edu-column-3>p>span, .edu-column-4>p>span{
    font-weight: 100;
    font-size: 14px;
    color: black;
}
/* Experience */

.experience{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: Tahoma;
    font-size: 15px;
    height: 600px;
    gap: 30px;
    background-image: url(images/vr.jpg);
    background-color: #5459AC;
    background-blend-mode:multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 40px;


}
.exp-title{
    padding-top: 30px;
    padding-bottom: 40px;
    font-size: 30px;
    color:#ffffff;
    font-weight: 900;
    padding-top: 100px;
}
.exp-columns{
    display: flex;
    flex-direction: row;
    gap: 20px; 
    justify-content:center;
    flex-wrap: wrap;
    align-items:center;
    text-align: center;

}
.exp-columns div{
    width: 350px;
    height: 280px;
    background-color: #ffffff;
    border-radius: 8px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.exp-column-1 p, .exp-column-2 p, .exp-column-3 p{
    color:#5459AC;
    top: 20px;
    font-size: 18px;
    position: absolute;
    font-weight: 900;
    text-align: left;
    padding-left: 20px;
    padding-right: 15px;
}
.exp-column-1>p>span, .exp-column-2>p>span, .exp-column-3>p>span{
    font-weight: 900;
    font-size: 12px;
    color: #52357B;
}
.exp-column-1>p>span>span, .exp-column-2>p>span>span, .exp-column-3>p>span>span{
    font-weight: 100;
    font-size: 14px;
    color: rgb(112, 111, 111);
}

/* Skills */
.skills{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: Tahoma;
    font-size: 15px;
    gap: 30px;
    background-color: hsla(237, 47%, 60%, 0.2);
    margin-top: 40px;


}
.skl-title{
    padding-top: 30px;
    padding-bottom: 40px;
    font-size: 30px;
    color: #5459AC;
    font-weight: 900;
    padding-top: 100px;
}
.skl-columns{
    display: flex;
    flex-direction: column;
    gap: 20px; 
    justify-content:center;
    flex-wrap: wrap;
    align-items:center;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 50px;
}
.skl-columns div{
    width: 600px;
    height: 100px;
    background-color: #5459AC;
    border-radius: 8px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.skl-column-1>div, .skl-column-2>div,.skl-column-3>div,.skl-column-4>div{
    width: 200px;
    height: 60px;
    display: flex;
    flex-direction: row;
    background-color:rgb(255, 255, 255);
    position: absolute;
    left: -100px;
    top: 20px;
    justify-content: left;
}
.skl-column-1>img, .skl-column-2>img, .skl-column-3>img, .skl-column-4>img{
    width: 5px;
    height: 20px;

}
.skl-column-1>p, .skl-column-2>p, .skl-column-3>p, .skl-column-4>p{
    width: 450px;
    height: 60px;
    position: absolute;
    left: 120px;
    top: 15px;
    justify-content: center;
    font-size: 12px;
    color: white;
}
.skl-column-1>div>p, .skl-column-2>div>p,.skl-column-3>div>p, .skl-column-4>div>p{
    margin-left: 20px;
    font-size: 12px;
    font-weight: 900;
    color: rgb(134, 133, 133);
}
